<config platform="project" template="project (default)">Created: Mon Jun 13 12:43:45 2016
By: colleenrothe
Using Template: project (default)

&lt;description to go here>
<option value="" fromDef="true" name="icon"/>
    <option value="" fromDef="true" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="assets" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="data/app.icf" fromDef="true" name="config"/>
    <option value="USMPTest1" fromDef="true" name="name"/>
    <option value="USMPTest1" fromDef="true" name="caption"/>
    <option value="colleenrothe" fromDef="true" name="provider"/>
    <option value="(C) colleenrothe" fromDef="true" name="copyright"/>
    <option value="0.0.1" fromDef="true" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
</config>
